<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126247573200-8aclgs9srnqg94kcg78bar27j64qa7p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126247573200-8aclgs9srnqg94kcg78bar27j64qa7p7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>126247573200-9qjhcpo4fiojufh53vfsnieq7f4n6bc1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvTUKnLkdddEOphWthKJ6nFxfNPOXFF_w</string>
	<key>GCM_SENDER_ID</key>
	<string>126247573200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team26.fadzmaq</string>
	<key>PROJECT_ID</key>
	<string>fadzmaq1</string>
	<key>STORAGE_BUCKET</key>
	<string>fadzmaq1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126247573200:ios:426757f03e18e04f3270d5</string>
	<key>DATABASE_URL</key>
	<string>https://fadzmaq1.firebaseio.com</string>
</dict>
</plist>