[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.1"
requests = "*"
gunicorn = "*"
sqlalchemy = "*"
pg8000 = "*"
pytest = "*"
coverage = "*"
firebase-admin = "*"
objectpath = "*"
firebase = "*"

[requires]
python_version = "3.7"
