certifi==2019.6.16
chardet==3.0.4
Click==7.0
config==0.4.2
daemon==1.2
daemonize==2.5.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
requests==2.22.0
urllib3==1.25.3
urwid==2.0.1
Werkzeug==0.15.5
yagmail==0.11.215
